<div>
  <h2 class="text-secondary text-center">Hello projet Event</h2>
</div>

<div *ngIf="isConnected()">
  <ul class="nav purple-gradient py-4 mb-4 mb-md-0 font-weight-bold z-depth-1 nav-fill w-100">
    <li class="nav-item"><a class="nav-link active white-text" routerLink="memo">Home</a></li>
    <li class="nav-item"><a class="nav-link white-text" routerLink="memo-prive">Memo prive</a></li>
    <li class="nav-item"><a class="nav-link white-text" routerLink="memo-public">Memo public</a></li>
    <li class="nav-item"><a class="nav-link white-text" routerLink="event">Evenement</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
